<a href="{{ path('PhotoTreeAlbumBundle_person', {id: person.id}) }}">
{% if person.profileImage %}
<img width="50px" src="{{ path('PhotoTreeAlbumBundle_images', { path: person.profileImage.path }) }}" />
{% else %}
<img width="50px" src="{{ path('PhotoTreeAlbumBundle_images', { path: 'unknown.jpg' }) }}" />
{% endif %}
</a>
<p><a href="{{ path('PhotoTreeAlbumBundle_person', {id: person.id}) }}">{{ person.birthName.firstName }} {{ person.birthName.lastName }}</a></p>