{% extends 'PhotoTreeAlbumBundle::base.html.twig' %}
{% block body %}

{% if person.profileImage %}
<img class="profile" src="{{ path('PhotoTreeAlbumBundle_images', { path: person.profileImage.path }) }}" />
{% endif %}
<h1>{{ person.birthName.firstName }} {{ person.birthName.lastName }} {% if person.death %}(deceased){% endif %}</h1>
{% for lineage in person.birth.child.lineages %}
<h3>{{ lineage.displayName }} {{ lineage.value }}</h3>
{% endfor %}
{% if person.birth %}
<p>Born on {{ person.birth.date.format('l jS F Y') }}</p>
{% endif %}
{% if person.death %}
<p>Died on {{ person.death.date.format('l jS F Y') }}</p>
{% endif %}

{% include 'PhotoTreeAlbumBundle:Person:timeline.html.twig' with { timeline: person.timeline } %}

{% endblock %}

{% block left %}
{% set parents = person.birth.parents %}
{% if parents|length > 0 %}
<h2>Parents</h2>
<ul>
{% for parent in parents %}
    <li>
        {% include 'PhotoTreeAlbumBundle:Person:person.html.twig' with { person: parent.person } %}
    </li>
{% endfor %}
</ul>
{% endif %}
{% set spouse = person.spouse %}
{%if spouse %}
<h2>Spouse</h2>
<ul>
    <li>
        {% include 'PhotoTreeAlbumBundle:Person:person.html.twig' with { person: spouse } %}
    </li>
</ul>
{% endif %}
{% set children = person.children %}
{%if children|length > 0 %}
<h2>Children</h2>
<ul>
{% for child in children %}
    <li>
        {% include 'PhotoTreeAlbumBundle:Person:person.html.twig' with { person: child } %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% set siblings = person.siblings %}
{%if siblings|length > 0 %}
<h2>Siblings</h2>
<ul>
{% for sibling in siblings %}
    <li>
        {% include 'PhotoTreeAlbumBundle:Person:person.html.twig' with { person: sibling } %}
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
